/* InfraGard Active Shooter css */

/* background color */
.bodyColor {background-color: #bbbbbb;}

/* gray bar behind menu */
.navigation {
  display: flex;
  background-color: #464646;
  justify-content: center;
  padding: 30px;
  position: relative;
  top: 150px;
}

.navigation > li {
  background-color: #a1a194;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
  list-style-type: none;
  flex-wrap: nowrap;


}

.navigation::after {
    clear: both;
}

li a, .dropbtn {
  display: inline-block;
  width: 100px;
  margin: 5px;
  color: white;
  text-align: center;
  padding: 10px 20px;
  text-decoration: none;

    font: 200 15px/1em "Open Sans";

}

li a:hover, .dropdown:hover .dropbtn {
  background-color: #04bf9d;
    text-decoration: none;

	  
}














/* navigation bar css code below adapted from https://www.w3schools.com/css/css_navbar.asp

ul {
  display: flex;
  flex-wrap: nowrap;
  list-style-type: none;
  width: 1500px;
  margin: 10px;

  background-color: #a1a194;
  align-items: flex-start;

  color: #464646;


}



li a, .dropbtn {
  display: inline-block;
  width: 180px;
  margin: 10px;
  color: white;
  text-align: center;
  padding: 12px 42px;
  text-decoration: none;
    line-height: 75px;
  font: 200 15px/1em "Open Sans";
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: #04bf9d;
}
*/

